// GRID SETTINGS

$total_columns: 	6;
$total_width:		100%;
$gutter_width:		5%;
$container_margin:	1%;

$class_container:	'row';
$class_column:		'col';
$class_push:		'push';

// FONT VARS

// FONT FAMILIES
$helvetica: "Helvetica Neue",Helvetica,sans-serif;

// COPY TEXT
$font: $helvetica;
$font-color: #666;
$font-weight: 300;

// HEADINGS

$heading-font: Georgia,serif;
$heading-font-color: #222;
$heading-weight: 300;